*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #cdcdcd(206, 202, 202);
}

body {
    min-height: 100vh;
    background-color: #cdcdcd; 
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 75px;
    background-color: #780000;
    align-content: center;
    box-shadow:0px 5px 5px 5px #780000;
    font-family: 'Times New Roman', Times, serif;

}

img{
    display: inline-flexbox;
    flex-direction: row;
    margin-left: 7%;
    padding: 2px;
    width: 100px;
    height: 80px;
    border-radius: 100%;
}

ul{
    display: inline-flex;
    flex-direction: row;
    margin:0 5%;
    background-color: #780000;
    
}

li{
    display: inline;
    align-self: center;
    padding: 5px;
    background-color: #780000;
    font-size: 20px;
    color: #ffffff;
    border-left-style:solid;
       
}

.left{
    border-left-style: none;
}