*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 120vh;
    background: linear-gradient(to bottom, #5f0101, #dd7575); 
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: column;
    background-color: #780000;
    box-shadow:0px 5px 5px 5px #780000;
    width: 100%;
                
}

nav{
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;

}

a:hover{
    cursor: pointer;
    font-size: 22px;
    
}

.menu0 {
    display: inline;
    align-self: center;
    padding: 5px;
    font-size: 20px;
    color: #ffffff;
       
}

.menu {
    display: inline;
    align-self: center;
    padding: 5px;
    font-size: 20px;
    color: #ffffff;
    border-left-style:solid;

}

.logo{
    display: inline-flexbox;
    flex-direction: row;
    margin-left: 7%;
    padding: 2px;
    width: 100px;
    height: 80px;
    border-radius: 100%;
}

.lang{
    display: inline;
    padding: 5px;

}

.icon{
    display: inline;
    align-self: center;
    width: 20px;
    height: 15px;
    border-left-style: none;
    
}

.language{
    padding: 5px;
}

#menu{
    display: inline-flex;
    flex-direction: row;
    margin:2% 2% 2% 30%;
}

@font-face {
    font-family: StickNoBills;
    src: url(Fuentes/StickNoBills.ttf);
}

@font-face {
    font-family: OleoScriptSwashCaps-Bold;
    src: url(Fuentes/OleoScriptSwashCaps-Bold.ttf);
}

@font-face {
    font-family: LibreBaskerville-Regular;
    src: url(Fuentes/LibreBaskerville-Regular.ttf);
}

#Portada{
    display: flex;
    align-items: stretch;
    align-self: center;
    height: 495px;
    margin: 2%;
    font-size: 100px;
    color: #ffffff;
    font-family: StickNoBills;
        
}

.img1{
    display: flex;
    align-self: center;
    box-sizing: border-box;
    width: 95%;
    height: 95%;
    padding: 0;
    border-radius: 50%;
       
}

.efect{
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    background: radial-gradient(ellipse at center, #780000 60%,#ffffff 80%,#ffffff 100%);
    border-radius: 50%;
       
}

#Info{
    margin: 5%;
    height: 570px;
    align-items: center;
    font-family: LibreBaskerville-Regular;
    font-size: 35px;
    color: #ffffff;
    font-weight:bolder;
    
}

#Mision{
    padding: 5%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50% ;
    border-color: #cdcdcd;
    border-right-style: solid;
    border-right-width: thick;

}

#Servicios{
    display: flex;
    padding: 5%;
    font-size: 40px;
    justify-content: right;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50% ;
    border-color: #cdcdcd;
    border-left-style: solid;
    border-left-width: thick;
    
}

